/*.
.scroll{
    background-image: url("/images/about.jpg");
    height: 300px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
.navbgColor{
    background-color: blue;

}
.navfgColor{
    color: white;
}

